{
  "extends": [
    "apostrophe",
    "plugin:vue/vue3-recommended"
  ],
  "overrides": [
    {
      "files": [
        "*.vue",
        "*.js"
      ]
    }
  ],
  "rules": {
    "no-console": 0
  }
}