.apos-input,
.apos-input-wrapper,
.apos-choice-label {
  .apos-field-label + &,
  .apos-field-help + & {
    margin-top: $spacing-base;
  }
}

.apos-input {
  width: 100%;
  border: 1px solid var(--a-base-5);
  border-radius: var(--a-border-radius);
  background-color: var(--a-base-9);
  color: var(--a-text-primary);
  font-size: map-get($font-sizes, input);
  box-sizing: border-box;
  @include apos-transition(all);

  &::placeholder {
    color: var(--a-base-4);
    font-style: italic;
  }

  &:hover,
  &:focus {
    border-color: var(--a-base-2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px var(--a-base-2);
    border-color: var(--a-base-2);
    background-color: var(--a-base-10);
  }

  &[disabled] {
    border-color: var(--a-base-4);
    background: var(--a-base-7);
    color: var(--a-base-4);
    &:hover {
      cursor: not-allowed;
    }
  }

  .apos-field--error & {
    border-color: var(--a-danger);

    &:focus {
      outline: none;
      box-shadow: 0 0 3px var(--a-danger);
    }
  }

  &--text,
  &--textarea,
  &--select {
    padding: $input-padding;
    padding-right: $input-padding * 2;
  }
}

.apos-input-wrapper {
  position: relative;
  max-width: 460px;
}

.apos-choice-label {
  display: flex;
  align-items: center;
  font-size: map-get($font-sizes, input-hint);
  font-weight: map-get($font-weights, medium);
  color: var(--a-base-2);

  & + &,
  .apos-legend + & {
    margin-top: $spacing-base;
  }
}

.apos-input-label--disabled {
  color: var(--a-base-3);
}

$box-width: 14px;

.apos-input--choice {
  position: absolute;
  display: inline;
  max-width: $box-width;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.apos-input-indicator {
  @include apos-transition(all, .1s, ease-in-out);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $box-width;
  height: $box-width;
  border: 1px solid var(--a-base-4);
  background-color: var(--a-base-10);

  .apos-choice-label > & {
    margin-right: $spacing-base;
  }

  .apos-choice-label:hover > &,
  .apos-choice-label:focus > & {
    border-color: var(--a-base-2);
  }

  .apos-input--choice[disabled] + & {
    border-color: var(--a-base-4);
    background-color: var(--a-base-4);
  }

  .apos-input--choice:checked + &,
  .apos-input--choice[checked] + & {
    background-color: var(--a-primary);
    border-color: var(--a-primary);
    color: var(--a-white);

    .material-design-icon { display: inline-flex; }
  }
}