.apos-input,
.apos-input-wrapper {
  .apos-field-label + & {
    margin-top: $spacing-base;
  }
}

.apos-input {
  color: var(--neutral-one);
  background: var(--neutral-seven);
  border: 1px solid var(--neutral-four);
  border-radius: var(--border-radius);
  font-size: map-get($font-sizes, input);
  @include apos-transition(border-color);

  &::placeholder {
    color: var(--neutral-two);
    font-style: italic;
  }

  &:hover,
  &:focus {
    border-color: var(--neutral-two);
  }

  &[disabled] {
    background: var(--neutral-five);
    border-color: var(--neutral-four);
    color: var(--neutral-two);
  }

  .apos-field--error & {
    border-color: var(--danger);
  }

  &--text,
  &--textarea {
    padding: $input-padding;

    .apos-field--error & {
      padding-right: $input-padding * 1.5;
    }
  }
}

.apos-input-wrapper {
  position: relative;
  display: inline-block;
}

.apos-input-icon {
  position: absolute;
  right: $spacing-triple;
  top: 50%;
  transform: translate(100%, -50%);
  color: var(--neutral-two);
  pointer-events: none;

  .apos-field--error & {
    color: var(--danger);
  }
}

  .apos-input-label--box {
    display: inline-flex;
    align-items: center;
    font-size: map-get($font-sizes, input-hint);
    font-weight: map-get($font-weights, medium);
    color: var(--neutral-two);

    & + &,
    .apos-legend + & {
      margin-top: $spacing-base;
    }
  }

  .apos-input-label--disabled {
    color: var(--neutral-three);
  }

  $box-width: 14px;

  .apos-input--box {
    position: absolute;
    display: inline;
    max-width: $box-width;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  .apos-input-indicator {
    @include apos-transition(all, .1s, ease-in-out);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $box-width;
    height: $box-width;
    border: 1px solid var(--neutral-four);
    background-color: var(--neutral-seven);

    .apos-input-label--box > & {
      margin-right: $spacing-base;
    }

    .apos-input-label--box:hover > &,
    .apos-input-label--box:focus > & {
      border-color: var(--neutral-two);
    }

    .apos-input--box[disabled] + & {
      border-color: var(--neutral-five);
      background-color: var(--neutral-five);
    }

    .apos-input--box:checked + &,
    .apos-input--box[checked] + & {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--neutral-seven);

      .material-design-icon { display: inline-flex; }
    }
  }