$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body {
  font-family: $font-default;
  font-size: 10px;
}

$font-families: (
  default: $font-default
);

$font-weights: (
  medium: 500,
  bold: 700
);

$font-sizes: (
  default: 12px,
  meta: 10px,
  input-label: 14px,
  input: 12px,
  input-hint: 12px,
  heading: 22px,
  modal: 12px
);

$spacing-base: 10px;
$spacing-double: $spacing-base * 2;
$spacing-triple: $spacing-base * 3;

$input-padding: $spacing-base * 1.5;
$boolean-padding: $spacing-double;

:root, .apos-theme-light {

  --a-danger: #EB443B;
  --a-success: #00BF9A;
  --a-warning: #FFCE00;
  --a-primary: #6516DD;
  
  --a-primary-button-hover: #5007C0;
  --a-primary-button-active: #4000A1;
  --a-primary-button-disabled: #C5A5F4;

  --a-danger-button-hover: #C00717;
  --a-danger-button-active: #A10000;
  --a-danger-button-disabled: #FF9D98;

  --a-base-1: #5D5D5D;
  --a-base-2: #6F6F6F;
  --a-base-3: #818181;
  --a-base-4: #939393;
  --a-base-5: #A5A5A5;
  --a-base-6: #B7B7B7;
  --a-base-7: #C9C9C9;
  --a-base-8: #DBDBDB;
  --a-base-9: #EDEDED;
  --a-base-10: #FFF;

  --a-text-primary: #000;

  // Borders
  --a-border-radius: 5px;
  --a-box-shadow: 0 3px 13px 4px rgba(0,0,0,0.08);

  // Backgrounds
  --a-background-primary: #fff;
  --a-background-inverted: #323232;
  --a-overlay: #00000080;

  // Universal
  --a-white: #fff;

  // Apostrophe brand
  --a-brand-red: #EA433A;
  --a-brand-gold: #CC9300;
  --a-brand-magenta: #B327BF;
  --a-brand-blue: #6666FF;
  --a-brand-green: #00BF9A;
}

.apos-theme-dark {
  --a-primary: #0562FF;
  --a-primary-button-hover: #014FD3;
  --a-primary-button-active: #0443AF;
  --a-primary-button-disabled: #6BA1FE;

  --a-base-1: #F8F9FA;
  --a-base-2: #E1E3E7;
  --a-base-3: #CBCDD4;
  --a-base-4: #B4B8C0;
  --a-base-5: #9DA2AD;
  --a-base-6: #878C9A;
  --a-base-7: #707687;
  --a-base-8: #596173;
  --a-base-9: #434B60;
  --a-base-10: #2C354D;

  --a-background-primary: #11151F;
  --a-overlay: #11151F90;

  --a-text-primary: #fff;
}
