@mixin link-primary {
  color: var(--a-primary);

  &:hover,
  &:focus {
    color: var(--a-primary-button-hover);
  }

  &:active {
    color: var(--a-primary-button-active);
  }
}

.o-heading {
  font-size: map-get($font-sizes, heading);
  font-weight: 500;
}

.apos-hint {
  font-size: map-get($font-sizes, default);
  font-weight: 600;
  color: var(--a-base-3);
  line-height: 1.6;
}

.apos-emoji {
  font-size: 38px;
}