@mixin link-primary {
  color: var(--primary-button);

  &:hover,
  &:focus {
    color: var(--primary-button-hover);
  }

  &:active {
    color: var(--primary-button-active);
  }
}

.o-heading {
  font-size: map-get($font-sizes, heading);
  font-weight: 500;
}